.container.span12
  %footer#content-info.content(role="contentinfo")
    %hr.thick/
    .row
      #colophone.span12
        %p
        © 2012 Cody Duval / Made in Brooklyn / Powered by <a href="http://nestacms.com" target="_blank">Nesta</a> 
        


