.container
  %footer#content-info.content.span7(role="contentinfo")
    %hr.thick/
    .row
      #colophone.span12
        %p
        © 2012 Cody Duval / Made in Brooklyn / Powered by 
        %a(href="http://nestacms.com")Nesta

