.container
  %footer#content-info.content(role="contentinfo")
    %hr.thick/
    .row
      #about.span4
        %h4
        About
        %p
        Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id.
      %hr.visible-phone/
      #twitter.span3
        %h4
        Twitter
        #tweets
      .span4.offset1.text-align-right
        %h2.brand
          %a{:href => "index.html"}
            Abstract.ly
    %hr/
    .row
      #colophone.span12
        %p
        © 2012 Cody Duval / Made in Brooklyn / Powered by 
        %a(href="http://nestacms.com")Nesta

