.container
  %footer#content-info.content.span12(role="contentinfo")
    %hr.thick/
    .row
      #about.span4
        %h4
          Find me via...
        %ul.social_nets
          %li
            %a{:href => "https://github.com/codyduval", "target"=>"_blank"}
              %i.icon-github
              Github
          %li
            %a{:href => "http://www.facebook.com/Codyduval", "target"=>"_blank"}
              %i.icon-facebook
              Facebook
          %li
            %a{:href => "https://twitter.com/CoDee", "target"=>"_blank"}
              %i.icon-twitter
              Twitter
          %li
            %a{:href => "http://www.linkedin.com/in/codyduval", "target"=>"_blank"}
              %i.icon-linkedin
              LinkedIn
          %li
            %a{:href => "mailto:cody@abstract.ly", "target"=>"_blank"}
              %i.icon-envelope-alt
              %script{:type=>"text/javascript"}
                var pre = "cody";
                document.write("<a href='mailto:" + pre + "@abstract.ly'>" + pre
                + "@abstract.ly</a>");
                </script>
                <noscript>Enable javascript to see my email!</noscript>
          %li
            %a{:href => "tel:646-389-9635", "title"=>"Phone", "target"=>"_blank"}
              %i.icon-phone
              646-389-9635
      #twitter.span3
        %h4
          Latest tweet...
        #tweets
      .span4.offset1.text-align-right
        %h2.brand
          %a{:href => "index.html"}
            Abstract.ly
    %hr/
    .row
      #colophone.span12
        %p
        © 2012 Cody Duval / Made in Brooklyn / Powered by 
        %a(href="http://nestacms.com")Nesta

