%script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}

%script{:type => "text/javascript",
        :src  => "/ab_theme/js/bootstrap.js"}

%script{:type => "text/javascript",
        :src  => "/ab_theme/js/jquery.truncator.js"}

%script{:type => "text/javascript"}
  $(function() {
  $('.expandable').truncate({max_length: 544});
  });

