.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand-icon
        %a.brand{:href => "/"}
          %img{:src => "/ab_theme/img/user2_logo.png"}
      .nav-collapse.collapse
        %ul#mynav.nav
          %li.divider-vertical
          %li
            %a{:href => "/index#projects"}
              Recent Projects
          %li.divider-vertical
          %li
            %a{:href =>"/index#skills"}
              Skills & Talents
          %li.divider-vertical
          %li
            %a{:href =>"/index#bio"}
              Bio & Resources
          %li.divider-vertical
          %li.active
            %a{:href =>"/blog"}
              Blog
          %li.divider-vertical