#sidebar.container.span4
  %h2
    %a{:href => "/blog"} 
      Abstract.ly/blog
  %p Hello.  My name is Cody Duval and this is where I post my thoughts on learning to code, programming, and the like.  You can learn more about me via the links above.  If you would like to reach me, email is probably best via <script language="javascript" type="text/javascript"> var pre = "cody"; document.write("<a href='mailto:" + pre + "@abstract.ly'>" + pre + "@abstract.ly</a>"); </script><noscript>Hidden - Enable JS to see.</noscript>. I'm also reachable on the various social nets, below.
  %hr
  %ul.social_nets
    %li
      %a{:href => "https://github.com/codyduval", "target"=>"_blank"}
        %i.icon-github
        Github
    %li
      %a{:href => "http://www.facebook.com/Codyduval", "target"=>"_blank"}
        %i.icon-facebook
        Facebook
    %li
      %a{:href => "https://twitter.com/CoDee", "target"=>"_blank"}
        %i.icon-twitter
        Twitter
    %li
      %a{:href => "http://www.linkedin.com/in/codyduval", "target"=>"_blank"}
        %i.icon-linkedin
        LinkedIn
  %hr

  / %ul.sidenav
  /   %li
  /     %a{:href => "#projects"}
  /       Recent Projects
  /   %li
  /     %a{:href =>"#skills"}
  /       Skills & Talents
  /   %li
  /     %a{:href =>"#bio"}
  /       Bio & Resources
  /   %li
  /     %a{:href =>"/blog"}
  /       Blog
  = haml :categories, :layout => false