%map(name="hard_skills_proto11_Map")
  %area(shape="rect" data-name="gritdrive" alt="" coords="458,79,494,277" href="grit-drive")
  %area(shape="rect" data-name="businessstrategy" alt="" coords="413,115,449,277" href="business-strategy")
  %area(shape="rect" data-name="salespersuasion" alt="" coords="368,152,404,277" href="sales-persuasion")
  %area(shape="rect" data-name="teachingpresenting" alt="" coords="323,115,359,277" href="teaching-presenting")
  %area(shape="rect" data-name="adobecs5" alt="" coords="279,187,315,277" href="adobe-cs5")
  %area(shape="rect" data-name="sql" alt="" coords="234,223,270,277" href="sql")
  %area(shape="rect" data-name="jquery" alt="" coords="189,223,225,277" href="jquery")
  %area(shape="rect" data-name="rubyrails" alt="" coords="143,187,179,277" href="ruby-rails")
  %area(shape="rect" data-name="htmlcss" alt="" coords="97,152,133,277" href="html-css")

